<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741428415007-dbmp4bfm9660o4k3c41j36if6j1fd8e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741428415007-dbmp4bfm9660o4k3c41j36if6j1fd8e8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>741428415007-p6dbllvjui11qci0fdqaq0mtci2osjh5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9LNMlWAWgPCfdCyOF1hoXhJNqwk51vsE</string>
	<key>GCM_SENDER_ID</key>
	<string>741428415007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-tutorial-cd217</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-tutorial-cd217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741428415007:ios:bf3515144db5699cb7e32a</string>
</dict>
</plist>